body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eceff1;
    font-family:'Times New Roman', Times, serif;
  }

  main {
    flex: 1 0 auto;
  }

.sidenav {
    background-color: #004d3f;
}

.btn-large {
  height: 45px;
  line-height: 45px;
  border-radius: 5px;
}

.btn {
  margin: 3px;
}

input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  color: #eceff1;
}

.datepicker-date-display {
  background-color: #004d3f;
  color: #eceff1;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #004d3f;
}

.collapsible-header {
  border-bottom: unset;
  margin-bottom: 3px;
}